html {
    background-color: #121212;
    color: #c2c2c2;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 1fr 50px;
}

.flex-container {
    display: flex;
}

header, main, footer {
    grid-column: span 12;
    grid-template-columns: repeat(12, 1fr);
}

header, footer {
    display: flex;
}

header {
    justify-content: flex-end;
}

footer {
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background-color: crimson;
}

main {
    display: grid;
}

section {
    margin: 15px;
    padding: 15px;
    background-color: #2f2e2e;
}

input {
    width: 100%;
    background-color: #121212;
    color: #c2c2c2;
    margin-bottom: 5px;
    padding: 5px 0 2px 5px;
    text-align: center;
    border-radius: 25px;
    border: none;
    transition: 1s;
}

input:focus {
    box-shadow: 0 0 4px #ffffff;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
}